.upload_button {
  background-color: #D3C1D2;
  border: none;
  color: white;

  margin: 40px;

  text-align: center;
  text-decoration: none;
  width: 400px;
  height: 400px;


  font-size: 16px;

}

.song_squares {
  background-color: #D3C1D2;
  border: none;
  color: white;

  margin: 40px;
  justify-content: center;


  text-align: center;
  text-decoration: none;
  width: 500px;
  height: 500px;
  overflow: auto;

  font-size: 16px;

}

.container_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_squares {
  background-color: #D3C1D2;
  border: none;
  color: white;

  margin: 40px;
  justify-content: center;


  text-align: center;
  text-decoration: none;
  width: 500px;
  height: 500px;
  overflow: auto;

  font-size: 16px;

}

.profile_button {
  background-color: #D3C1D2;
  border: none;
  color: white;

  margin: 40px;
  width: 400px;
  height: 400px;




  text-align: center;
  text-decoration: none;


  font-size: 16px;

}

.song_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


}

.button_container{
    display: flex;
    justify-content: center;
}

.navbar-inverse {
    background-color: #fffff4 !important;
    border-color: #fffff4;


}

.container_songs{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-evenly;

}
.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.search_class{
    padding: 50px;
}

.comment_container{
    display: flex;

    flex-wrap: wrap;
    flex-direction:column;
    margin: 20px;


}

p{
    font-family: "Courier New", Courier, monospace;
}

a{
    font-family: "Courier New", Courier, monospace;
}
