<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" link href="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/templates/stylesheet_homepage.css">
        <title>My scratchboard page</title>
    </head>

    <body style="background-color: #fffff4">
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tunezest</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>



        </div>

        <div class="container">
            {{user.username}}
            {% for song in songs %}
                <div class="row">
                    {{song.song_name}}
                </div>

                <div class="row">
                    <img src="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/album_art_folder/{{song.album_art_file}}">
                </div>
                <div class="row">
                    <audio controls="controls" src="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/song_file_folder/{{song.mp3_file}}"></audio>

                </div>

                <div class="container">
            {% for comment in comments %}
                {% if comment.song_id == song.song_id %}
                    <div class="row" style="margin-bottom: 1ex">
                        <div>

                                {{ comment.content }}

                        </div>
                        <div>
                            <small>
                                Posted
                                {% if comment.posted %}
                                    {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                                {% else %}
                                    at an unknown time
                                {% endif %}
                                by
                                {% if comment.commenter %}
                                    {{ comment.commenter.username }}
                                {% else %}
                                    anonymous
                                {% endif %}
                            </small>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if current_user.is_authenticated %}
                <div class="row">
                    <form action="." method="POST">
                        <textarea name="contents" placeholder="Enter a comment" class="form-control"></textarea>
                        <input type="submit" class="btn btn-success" value="Post comment">
                        <input name="song_id"type="hidden" value="{{song.song_id}}">
                    </form>
                </div>
            {% endif %}




                <form  action="." method="post" >
                    <button name="song_id" value="{{song.song_id}}" type="submit">Fav</button>
	            </form>


            {% endfor %}

        </div>


    </body>
</html>