<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" link href="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/templates/stylesheet_homepage.css">
        <title>My scratchboard page</title>
    </head>

    <body style="background-color: #fffff4">
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Tunezest</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul>
            <a class="nav-brand" href={{url_for('search')}}> Search</a>
            <a class="nav-brand" href={{url_for('profile')}}> Profile</a>
          </div>
        </nav>


        <div class="container_songs">

            {% for song in songs %}
            <div class="jumbotron" >
                <div class="col">
                    {{song.song_name}}
                </div>
                <div class="col">
                    By: {{user.artist_name}}
                </div>
                <div class="col">
                    <img src="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/album_art_folder/{{song.album_art_file}}" style="width: 400px; height:400px;">
                </div>
                <div class="col">
                    <audio controls="controls" src="https://www.pythonanywhere.com/user/zestylemon/files/home/zestylemon/mysite/song_file_folder/{{song.mp3_file}}"></audio>

                </div>
            </div>
            {% endfor %}



        </div>

        <div>


        </div>



    </body>
</html>