<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" link href="{{url_for('static', filename='stylesheet_homepage.css')}}">
        <title>User Page</title>
    </head>

    <body style="padding-left:150px; padding-right:150px; padding-top:50px;">



    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="register_container">
            <form action="." method="post">
                <div class= "form-group">
                    <input  class="form-control"  name="username" placeholder="Username">
                </div>

                <div class= "form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>

                <div class= "form-group">
                    <input type="password" class="form-control" id="password" name="check_password" placeholder="Re-enter your password">
                </div>

                <div class= "form-group">
                    <input  class="form-control" id="password" name="artist_name" placeholder="Artist Name">
                </div>

                <div class= "form-group">
                    <input  class="form-control" id="password" name="location" placeholder="Location">
                </div>

                <div class= "form-group">
                    <input class="form-control" id="password" name="genre" placeholder="Genre">
                </div>

                <input type="submit" class="btn btn-success" value="Register" style="background-color: #D3C1D2; border:white;">
            </form>

        </div>


    </body>
</html>