<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" link href="{{url_for('static', filename='stylesheet_homepage.css')}}">
        <title>My scratchboard page</title>
    </head>

    <body style="background-color: #fffff4">
        <nav class="navbar navbar-dark bg-dark"">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" style="color: black;" href="#">Tunezest</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul>
            <a class="navbar-brand" href={{url_for('search')}}> Search</a>
            <a class="navbar-brand" href={{url_for('profile')}}> Profile</a>
          </div>
        </nav>


        <div class="topnav">

            <form action=".", method="POST", enctype="multipart/form-data">
                <div class="search_class">
                    <input name="search_text" type="text" placeholder="Search.." class="form-control">
                    <input class="btn btn-primary" type="submit" value="Search" style="background-color:#D3C1D2; border-color:white;">

                </div>

            </form>


        </div>

        </div>

        <div class="container_search" stlye="justify-content:center;" >


            {% for result in search_result %}
                <div class="profile_squares">

                    <a href= "{{url_for('music', artist_id=result.id)}}">
                    <div class="flex-center-vertically">

                            <p>{{result.artist_name}}</p>




                        <p>{{result.genre}}</p>
                        <p>{{result.location}}</p>

                     </div>

                    </a>

                </div>

            {% endfor %}


        </div>


    </body>
</html>